@import 'variables';
@media screen and (max-width: 540px) {
  .screen-background {
    background-position: -389px -34px;
  }
}
@media screen and (max-width: 750px) {
  .content_offers {
    -webkit-flex-direction: column;
    flex-direction: column!important;
  }
  @media screen and (max-width: 320px) {
     body {
        font-size: 2em;
     }
    }
  #about_place {
    flex-direction: column!important;
    text-align: center!important;
  }

  .box6 {
    display: inline!important;
  }

  .contact_content {
    flex-direction: column!important;
  }

  .container1 {
    flex-direction: column;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: $font-size16;
}

.justify-content-end {
  margin: 30px 0;
  font-size: 24px;
  font-weight: bold;
}

a:link {
  text-decoration: none;
  color: rgba(71, 81, 82, 0.84);
  position: relative;

  &:hover {
    text-decoration: none;
    color: rgba(71, 81, 82, 0.84);
  }
}

a:visited {
  text-decoration: none;
  color: rgba(71, 81, 82, 0.84);
}

.main-page {
  width: 100%vw;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.section {
  width: 100%;
  padding: 0;
}

.container-main {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

.nav_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgba(71, 81, 82, 0.84);
}

.logo {
  background-image: url("images/logo.png");
  width: 180px;
  height: 100px;
  z-index: 10;
  background-size: contain;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

.screen-one {
  height: calc(100%vh - 40px);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  .screen-background {
    background: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5) ), url("images/family.jpg");
    background-size: cover;
    background-position: 59% 10%;
    background-repeat: no-repeat;
    height: calc(100vh - 0px);
    width: 100%;
  }

}

.partners {
  height: calc(100%vh - 40px);
  width: 100%;

  #about_partners {
    margin: 100px auto 10px;
  }

  .partners_h1 {
    @extend.allSplit;
    margin: 0 0 12px;
    text-align: center;
  }

  .partners_h3 {
    font-size: $font-size19;
    text-align: center;
    line-height: 25px;
    padding: 0 120px;
    font-weight: unset;
    color: rgba(71, 81, 82, 0.84);
  }

  .both {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .partners_container {
      @extend.both
    }

    .partner_box {
      width: 200px;
      height: 70px;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .partner_1 {
      background-image: url("images/aviva.png");
      background-position: center center;
    }

    .partner_2 {
      background-image: url("images/compensa.png");
      background-position: center center;
    }

    .partner_3 {
      background-image: url("images/warta.png");
      background-position: center center;
    }

    .partner_4 {
      background-image: url("images/pko.png");
      background-position: center center;
    }

    .partner_5 {
      background-image: url("images/axa.png");
      background-position: center center;
    }

    .partner_6 {
      background-image: url("images/das.png");
      background-position: center center;
    }

    .partner_7 {
      background-image: url("images/link4.png");
      background-position: center center;
    }

    .partner_8 {
      background-image: url("images/ergo.png");
      background-position: center center;
    }

    .partner_9 {
      background-image: url("images/macif.png");
      background-position: center center;
    }

    .partner_10 {
      background-image: url("images/polisa.png");
      background-position: center center;
    }

    .partner_11 {
      background-image: url("images/pramerica.png");
      background-position: center center;
    }

    .partner_12 {
      background-image: url("images/lloyds.png");
      background-position: center center;
    }

    .partner_13 {
      background-image: url("images/allianz.png");
      background-position: center center;
    }

    .partner_14 {
      background-image: url("images/mtu.png");
      background-position: center center;
    }

    .partner_15 {
      background-image: url("images/proama.png");
      background-position: center center;
    }

    .partner_16 {
      background-image: url("images/gothaer.png");
      background-position: center center;
    }
  }
}

.bottom-line {
  border-bottom: 2px solid $color-logo-blue;
  width: 145px;
  margin: 28px auto 10px;
}

.about_content {
  width: 90%;
  margin: 100px auto 25px;
}

.allSplit {
  font-size: $font-size30;
  color: $color-logo-blue;
  font-weight: bold;
  text-shadow: 1px 1px #9da0a2;
  margin-bottom: 30px;
}

.about_h1 {
  @extend.allSplit;
  margin: 0 0 30px;
  text-align: center;
}

.about_p {
  font-size: $font-size19;
  text-align: center;
  line-height: 28px;
  color: rgba(71, 81, 82, 0.84);
}

#about_place {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 1px 3px 7px 0 rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-out 0s;
}

.place_box {
  width: 29%;
  padding: 10px;

  &:hover {
    box-shadow: 1px 3px 7px 0 rgba(0, 0, 0, 0.75);
    transition: all 0.3s ease-out 0s;
  }

  .icon2 {
    color: $color-logo-blue;
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 20px;
  }

  .place_title {
    text-align: center;
    color: black;
    font-size: $font-size19;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .place_text1 {
    color: rgba(71, 81, 82, 0.84);
    font-size: $font-size16;
    font-weight: normal;
    text-align: center;
    line-height: 30px;
  }

  .icon-room:before {
    content: "\e901";
  }

  .icon-phone:before {
    content: "\e942";
  }

  .icon-envelop:before {
    content: "\e945";
  }
}

.offers {
  height: calc(100%vh - 40px);
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/ofert.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  padding: 60px 0;

  .content_offers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .box {
      text-align: center;
      padding: 13px;
      margin-bottom: 30px;
      background-color: rgba(210, 198, 187, 0.09);

      .icon {
        color: white;
        width: 100%;
        text-align: center;
        font-size: 50px;
        height: 57px;

        &:hover {
          color: $color-logo-blue;
          transition: all 0.3s ease-out 0s;
        }
      }

      .icon-heart:before {
        content: "\e9da";
      }

      .icon-home3:before {
        content: "\e902";
      }

      .icon-truck:before {
        content: "\e9b0";
      }

      .icon-airplane:before {
        content: "\e9af";
      }

      .icon-alarm:before {
        content: "\e950";
      }

      .icon-justice:before {
        content: "\e900";
      }

      #box-title {
        color: white;
        font-size: $font-size28;
        margin-bottom: 10px;
        margin-top: 10px;
        font-weight: bold;
      }
      // .box-text {
      //   color: white;
      //   font-size: $font-size16;
      //   margin: 0 auto;
      //   max-width: 100%;
      //   font-weight: normal;
      //   line-height: 25px;
      //   padding-bottom: 15px;
      // }
    }
  }
}

.box6 {
  display: none;
}

.contact {
  background-color: $color-bg-fairblue;
  width: 100%;
  padding: 50px 0;
}

.contact_content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  .place {
    padding: 10px 60px;
    text-align: center;

    .contact_sign {
      color: $color-logo-blue;
      margin: 10px 0 30px;
      white-space: nowrap;
      text-shadow: 1px 1px #9da0a2;
    }

    .contact_content {
      font-size: $font-size14;
      font-weight: unset;
      display: block;
    }
  }
}

#mailform label,
.section span {
  color: #444;
  font-size: $font-size14;
  line-height: 25px;
}

div.section span {
  line-height: 17px;
}

#mailform input,
#mailform textarea {
  background-color: #fff;
}

#mailform textarea {
  width: 252px;
}

#mailform input[type=submit],
#submit {
  background: url('graph/btn_send.png') no-repeat left top;
  border: none;
  color: #fff;
  width: 91px;
  height: 21px;
  float: right;
  margin-right: 3px;
  cursor: pointer;
  margin-top: 7px;
  border: 0;
}

.product-life {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/job.jpeg");
  background-size: cover;
  align-items: center;
  background-repeat: no-repeat;
  background-position-y: 64%;
}

.container1 {
  width: 90%;
  margin: 100px auto 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.split-job {
  width: 50%;
  position: relative;
  right: 25%;
  padding: 50px 20px;
  color: white !important;

  h1 {
    font-size: $font-size19;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .split-left-p {
    color: white;
    font-size: $font-size18;
  }
}

#list {
  margin-left: 18px;
  color: white !important;
  line-height: 27px;
  font-size: $font-size19;
}

.row_info {
  width: 90%;
  // padding: 0 0 180px 0;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info_box {
  width: 50%;

  .info_svg {
    display: inline-block;
    width: 100%;
    height: 3em;
    stroke-width: 0;
    stroke: currentColor;
    fill: black;
  }
}

.info_title {
  text-align: center;
  color: black;
  font-size: $font-size18;
  margin: 20px 0;
  font-weight: bold;
}

.info_text1 {
  color: rgba(71, 81, 82, 0.84);
  font-size: $font-size19;
  font-weight: normal;
  text-align: center;
  line-height: 28px;
}

.btn {
  width: 95%;
  margin-bottom: 5px;
  display: inline-block;
}

#dropdownMenuButton {
  background-color: transparent;
  color: white;
  max-width: 100%;
  font-size: $font-size23;

  &:hover {
    background-color: white;
    color: rgba(71, 81, 82, 0.84);
  }
}

.dropdown_p {
  padding: 20px;
  font-size: $font-size16;
}

.about {
  background-color: $color-bg-grey;
  padding: 20px 0;
}

.rectangle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dino {
  margin-right: 28px;
  text-align: left;
  font-size: $font-size16;
  line-height: 30px;
}

.klus {
  text-align: left;
  font-size: $font-size16;
  line-height: 30px;
}

.place_box1 {
  @extend.place_box;
  width: 42%;

  &:hover {
    box-shadow: 1px 3px 7px 0 rgba(0, 0, 0, 0.75);
    transition: all 0.3s ease-out 0s;
    border-radius: 3px;
  }
}

.title-pack{
  text-align: left;
  position: absolute;
  // bottom: 2%;
  color: white;
  left: 6%;
  width: 372px;
  line-height: 1.3;
  background-color: #00529621;
  padding: 58px;
}
.title-main {
  font-size: $font-size30;
  text-shadow: 1px 2px #0c0d0d;
  font-style: italic;
  line-height: 1.3;
  margin-bottom: 40px;
}
.title-main-bottom{
  font-size: $font-size28;
  text-shadow: 1px 2px #0c0d0d;
  font-style: italic;
  line-height: 1.3;

}
