//colors//
$color-white: white;
$color-logo-blue: rgb(0, 82, 150);
$color-bg-fairblue: rgba(0, 82, 154, 0.17);
$color-bg-grey: rgba(233, 227, 227, 0.73);

//font size//

$font-size12: 0.75em;
$font-size14: 0.875em;
$font-size16: 1em;
$font-size18: 1.125em;
$font-size19: 1.187em;
$font-size20: 2.24em;
$font-size23: 1.43em;
$font-size28: 1.75em;
$font-size30: 1.875em;
